.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 5rem;
}

.h1 {
    color: #1874a8;
}

.faq-list {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add box shadow for depth */
}

.faq-question {
    background-color: #f5f5f5;
    color: #666;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add transition effect to background color and text color */
}

.faq-answer {
    color: #666;
    padding: 15px;
    background-color: #fff;
    overflow: hidden;
    max-height: 10rem;
    transition: max-height 0.3s ease;
    /* Add transition effect to max-height */
}

.faq-item.active .faq-answer {
    height: 10rem;
    /* Set max-height to show the answer with animation */
}

.faq-question:hover {
    background-color: #e0e0e0;
    /* Change background color on hover */
}

.faq-question:after {
    content: '\25B8';
    /* Unicode character for right arrow */
    float: right;
    transition: transform 0.3s ease;
    /* Add transition effect to transform */
}

.faq-item.active .faq-question:after {
    transform: rotate(90deg);
    /* Rotate arrow when item is active */
}